

.row {
	background-color: #000000;
}

.body {
	background-color: #000000;

}


header{
    font-family: SourceSansPro-Light;
    color: white;
    font-size: 300%;
    text-align: center;
    padding: 8px;
    
}

a.amt{
    color: white;
    float: right;
}

a.units{
    float: right;
    color: #EAB5F1;


}

.underline li {
    font-family: SourceSansPro-Regular;
    
    color: #EAB5F1;
    padding: 2px;
    resize: none;
    font-size: small;
    border-bottom: 1px solid #4F1157;
    width: 179px;
    margin: 0 auto;
}

.underline ul: last-child {
  border-bottom: none;
}
.white {
    background: black;
    height: 200px;
    border-right:15px solid #000000;
  }
  
  .drink {
    height: 40px;
    background: #383838;
    padding-top: 10px;
    text-align: center;
    font-size: 23px;
    color: #9933FF;
  }
  
  .ingredients {
    height:110px;
    background: #585858;
    padding-top: 8px;
    font-size: 11px;
    color: #F8F8F8;
    word-spacing: 5px;
    padding-left: 10px;
    }

 .values {
	
	height:50px;
padding-left: 0px;
    padding-right: 0px;
    background: #585858;
    float: left;
}

#img {
    width: 30px;

}

input.qty{
    width: 40px;
    height:40px;
    border-radius: 5px;
    padding: 10px 10px 0 0;
    font-size: 25px;
    font-family: SourceSansPro-Regular;
    font-weight: bold;
    text-align: center;
}


.con1 {

	padding: 10px 10px 10px 10px;
    width: 50px;
}


